@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
.bg-white {
    background-color: #fff
}

.txt-white {
    color: #fff
}

.bg-black {
    background-color: #000
}

.txt-black {
    color: #000
}

.bg-blue {
    background-color: #18252a
}

.txt-blue {
    color: #18252a
}

.bg-teal-dk {
    background-color: #557c83
}

.txt-teal-dk {
    color: #557c83
}

.bg-teal {
    background-color: #3aafa9
}

.txt-teal {
    color: #3aafa9
}

.bg-green {
    background-color: #a2d5ac
}

.txt-green {
    color: #a2d5ac
}

blockquote,
body,
caption,
dd,
dl,
fieldset,
figure,
form,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
legend,
ol,
p,
pre,
table,
td,
th,
ul {
    margin: 0;
    padding: 0
}

audio:not([controls]) {
    display: none
}

button {
    overflow: visible;
    -webkit-appearance: button
}

details {
    display: block
}

html {
    -ms-overflow-style: -ms-autohiding-scrollbar;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
}

input {
    -webkit-border-radius: 0
}

input[type=button],
input[type=reset],
input[type=submit] {
    -webkit-appearance: button
}

input[type=number] {
    width: auto
}

input[type=search] {
    -webkit-appearance: textfield
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

main {
    display: block
}

pre {
    overflow: auto
}

progress {
    display: inline-block
}

small {
    font-size: 75%
}

summary {
    display: block
}

svg:not(:root) {
    overflow: hidden
}

template {
    display: none
}

textarea {
    overflow: auto
}

[hidden] {
    display: none
}

*,
:after,
:before {
    box-sizing: inherit
}

* {
    font-size: inherit;
    line-height: inherit
}

:after,
:before {
    text-decoration: inherit;
    vertical-align: inherit
}

*,
:after,
:before {
    border-style: solid;
    border-width: 0
}

* {
    background-repeat: no-repeat;
    margin: 0;
    padding: 0
}

:root {
    background-color: #fff;
    box-sizing: border-box;
    color: #000;
    cursor: default;
    font: 100%/1.5 sans-serif;
    text-rendering: optimizeLegibility
}

a {
    text-decoration: none
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle
}

button,
input,
select,
textarea {
    background-color: transparent;
    color: inherit;
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit
}

[type=button],
[type=date],
[type=datetime-local],
[type=datetime],
[type=email],
[type=month],
[type=number],
[type=password],
[type=reset],
[type=search],
[type=submit],
[type=tel],
[type=text],
[type=time],
[type=url],
[type=week],
button,
select,
textarea {
    min-height: 1.5em
}

code,
kbd,
pre,
samp {
    font-family: monospace
}

nav ol,
nav ul {
    list-style: none
}

select {
    -moz-appearance: none;
    -webkit-appearance: none
}

select::-ms-expand {
    display: none
}

select::-ms-value {
    color: currentColor
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

textarea {
    resize: vertical
}

::-moz-selection {
    background-color: #b3d4fc;
    color: #fff;
    text-shadow: none
}

::selection {
    background-color: #b3d4fc;
    color: #fff;
    text-shadow: none
}

[aria-busy=true] {
    cursor: progress
}

[aria-controls] {
    cursor: pointer
}

[aria-disabled] {
    cursor: default
}

[hidden][aria-hidden=false] {
    clip: rect(0 0 0 0);
    display: inherit;
    position: absolute
}

[hidden][aria-hidden=false]:focus {
    clip: auto
}

body {
    font-family: grad, serif;
    color: #18252a;
    font-size: 24px;
    line-height: 40px;
    -webkit-font-smoothing: antialiased
}

html {
    overflow-x: hidden;
    position: relative
}

.fade,
html {
    width: 100vw
}

.fade {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: #18252a;
    z-index: 9;
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation: a 2.5s ease .2s forwards;
    animation: a 2.5s ease .2s forwards;
    overflow: hidden
}

.fade .logo-fade {
    top: 50%;
    left: 50%;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 450px;
    height: 300px;
    max-width: 80%;
    -webkit-animation: b 2.5s ease .2s forwards;
    animation: b 2.5s ease .2s forwards
}

.fade .logo-fade path {
    fill: #19282d
}

@-webkit-keyframes a {
    99% {
        z-index: 9
    }
    99%,
    to {
        -webkit-transform: translateY(-100vh);
        transform: translateY(-100vh)
    }
    to {
        z-index: -1
    }
}

@keyframes a {
    99% {
        z-index: 9
    }
    99%,
    to {
        -webkit-transform: translateY(-100vh);
        transform: translateY(-100vh)
    }
    to {
        z-index: -1
    }
}

@-webkit-keyframes b {
    99%,
    to {
        -webkit-transform: translate(-50%, 95vh);
        transform: translate(-50%, 95vh)
    }
}

@keyframes b {
    99%,
    to {
        -webkit-transform: translate(-50%, 95vh);
        transform: translate(-50%, 95vh)
    }
}

#ui-main {
    overflow: hidden
}

.main-container {
    background-color: #18252a
}

.rotate-screen {
    display: none;
    z-index: 8;
    background-color: rgba(0, 0, 0, .8);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20%
}

.rotate-screen svg#rotate {
    width: 80px;
    height: 80px
}

.rotate-screen p {
    color: #fff;
    padding-top: 15px
}

.h1,
.h2,
.h3,
.heading,
h1,
h2,
h3,
span.number {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: canada-type-gibson, sans-serif;
    font-weight: 700
}

.h1,
h1 {
    font-size: 5vw;
    line-height: 4.2vw;
    letter-spacing: 2px;
    padding-bottom: 1vw
}

.h2,
h2 {
    font-size: 12px;
    line-height: 20px
}

.h3,
h3 {
    font-size: 14px;
    line-height: 16px;
    padding-bottom: 8px
}

p {
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 1px;
    font-family: grad, serif
}

span.number {
    font-weight: 600;
    font-size: 50px;
    line-height: 50px;
    display: inline-block;
    vertical-align: middle
}

.txt-left {
    text-align: left
}

.txt-center {
    text-align: center
}

.txt-right {
    text-align: right
}

a {
    color: inherit
}

a:focus,
a:hover {
    outline: none
}

img {
    max-width: 100%;
    vertical-align: middle;
    font-style: italic
}

.gm-style img,
img[height],
img[width] {
    max-width: none
}

.grid-parent {
    position: relative;
    font-size: 0
}

.one-half {
    width: 50%
}

.one-half,
.one-third {
    display: inline-block;
    vertical-align: top
}

.one-third {
    width: 33.333%
}

.full-height {
    height: 100%
}

.centered-parent {
    position: relative
}

.centered {
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.centered,
.centered-x {
    position: absolute;
    left: 50%
}

.centered-x {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

.centered-y {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

form .btn {
    margin-top: 20px
}

input {
    width: 100%;
    box-sizing: border-box;
    background-color: #88b991;
    font-size: 18px;
    line-height: 20px;
    padding: 18px 24px;
    display: inline-block;
    vertical-align: top;
    margin: 0 0 8px;
    font-family: grad, serif;
    color: #fff;
    letter-spacing: 1px
}

input:focus {
    outline: none
}

input.ng-invalid {
    border-color: red
}

.input-item {
    padding-right: 10px
}

:-ms-input-placeholder,
::-ms-input-placeholder {
    color: #fff!important;
    font-style: italic
}

::-webkit-input-placeholder {
    color: #fff;
    font-style: italic
}

:placeholder-shown {
    color: #fff!important;
    font-style: italic
}

input[type=number] {
    width: 100%;
    -moz-appearance: textfield
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0
}

::-webkit-scrollbar {
    background-color: transparent;
    width: 3px;
    height: 3px
}

::-webkit-scrollbar-button {
    background-color: silver
}

::-webkit-scrollbar-track {
    background-color: #40464c
}

::-webkit-scrollbar-thumb {
    background-color: silver
}

::-webkit-scrollbar:horizontal {
    height: 0
}

body {
    scrollbar-base-color: silver;
    scrollbar-3dlight-color: transparent;
    scrollbar-highlight-color: transparent;
    scrollbar-track-color: #40464c;
    scrollbar-arrow-color: #40464c;
    scrollbar-shadow-color: transparent;
    scrollbar-dark-shadow-color: transparent
}

.scrollable {
    overflow-y: auto
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 6;
    padding: 10px 20px
}

header .logo {
    width: 75px;
    height: 30px;
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
    -webkit-animation: c 1.4s ease 1.4s both;
    animation: c 1.4s ease 1.4s both;
    opacity: 1
}

header .inverted svg path {
    fill: #18252a
}

header .inverted.txt-white {
    color: #18252a
}

header .txt-white.btn {
    transition: all .3s ease
}

header .txt-white.btn:hover {
    color: #18252a
}

header .nav--secondary {
    float: right;
    -webkit-animation: d 1.4s ease 1.4s both;
    animation: d 1.4s ease 1.4s both
}

header .nav--secondary a {
    font-size: 13px;
    letter-spacing: 1px;
    font-family: canada-type-gibson, sans-serif;
    margin-left: 20px;
    display: inline-block
}

header .menu {
    position: absolute;
    height: 100vh;
    z-index: 9;
    top: 0;
    right: -100%;
    pointer-events: none;
    transition: left 1s ease .3s
}

header .menu:before {
    content: '';
    background-color: #18252a;
    position: absolute;
    z-index: 1;
    width: 100vw;
    height: 100%;
    opacity: 0;
    transition: all .5s ease 0ms
}

header .menu .close-btn {
    opacity: .7;
    -webkit-transform: scale(0);
    transform: scale(0);
    transition-delay: 0ms
}

header .menu nav {
    z-index: 2;
    position: absolute;
    width: 100%;
    top: 50%;
    height: auto;
    display: block;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center
}

header .menu nav a {
    font-family: canada-type-gibson, sans-serif;
    display: block;
    white-space: nowrap;
    font-weight: 600;
    margin: 0 0 30px;
    color: #fff;
    text-transform: uppercase;
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    transition: all .4s ease 0s
}

header .menu nav a:nth-child(7) {
    transition-delay: .32s
}

header .menu nav a:nth-child(6) {
    transition-delay: .3s
}

header .menu nav a:nth-child(5) {
    transition-delay: .25s
}

header .menu nav a:nth-child(4) {
    transition-delay: .2s
}

header .menu nav a:nth-child(3) {
    transition-delay: .17s
}

header .menu nav a:nth-child(2) {
    transition-delay: .1s
}

header .menu nav a:nth-child(1) {
    transition-delay: 0ms
}

header .menu svg {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    -webkit-transform-origin: center;
    transform-origin: center;
    height: 100%;
    width: auto
}

header .menu svg path {
    stroke-width: 90
}

header .menu.open {
    transition: right 1s ease;
    right: 0;
    pointer-events: auto
}

header .menu.open:before {
    opacity: .3;
    transition: all 1s ease 1s;
    right: 0
}

header .menu.open .close-btn {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    transition-delay: 1s
}

header .menu.open nav a {
    opacity: 1;
    -webkit-transform: translateY(0) translateZ(0);
    transform: translateY(0) translateZ(0);
    transition-delay: .8s
}

header .menu.open nav a:nth-child(1) {
    transition-delay: 1.42s
}

header .menu.open nav a:nth-child(2) {
    transition-delay: 1.4s
}

header .menu.open nav a:nth-child(3) {
    transition-delay: 1.35s
}

header .menu.open nav a:nth-child(4) {
    transition-delay: 1.3s
}

header .menu.open nav a:nth-child(5) {
    transition-delay: 1.27s
}

header .menu.open nav a:nth-child(6) {
    transition-delay: 1.2s
}

header .menu.open nav a:nth-child(7) {
    transition-delay: 1.1s
}

@-webkit-keyframes c {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-260px);
        transform: translateY(-260px)
    }
}

@keyframes c {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-260px);
        transform: translateY(-260px)
    }
}

@-webkit-keyframes d {
    0% {
        -webkit-transform: translateY(-260px);
        transform: translateY(-260px)
    }
}

@keyframes d {
    0% {
        -webkit-transform: translateY(-260px);
        transform: translateY(-260px)
    }
}

section {
    position: relative;
    width: 100vw;
    z-index: 3;
    background-color: #27363b
}

section svg {
    display: block;
    width: 100vw;
    height: 62.5vw
}

section .fixed-container {
    position: fixed;
    top: 0;
    z-index: 2;
    display: block;
    height: 100%
}

.txt {
    width: 100%;
    font-size: 20px;
    line-height: 34px;
    position: absolute;
    opacity: 0;
    transition: all .3s ease
}

.txt.visible {
    opacity: 1;
    color: #fff
}

a {
    cursor: pointer;
    text-decoration: none
}

.btn-nav {
    font-size: 13px;
    line-height: 13px;
    letter-spacing: 1px;
    font-family: canada-type-gibson, sans-serif;
    padding: 8px 25px;
    border-radius: 25px;
    background-color: #18252a;
    position: relative
}

.btn-nav:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    border-radius: 25px;
    border: 1px solid #fff;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 0;
    transition: all .3s ease
}

.btn-nav:hover:after {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1
}

button {
    width: 100%;
    font-family: canada-type-gibson, sans-serif;
    text-transform: uppercase;
    color: #a2d5ac;
    background-color: #fff;
    border-radius: 2px;
    padding: 8px 0;
    font-weight: 600;
    margin-top: 5px
}

.soc-btn,
a.linkedin,
a.twitter {
    width: 30px;
    height: 20px;
    display: inline-block;
    background-position: 0;
    background-size: contain
}

a.linkedin {
    background-image: url(/images/linkedin.svg)
}

a.twitter {
    background-image: url(/images/twitter.svg)
}

.close-btn {
    top: 10px;
    right: 10px;
    width: 40px;
    z-index: 7;
    transform-origin: center
}

.close-btn,
.close-btn span {
    position: absolute;
    display: block;
    height: 40px;
    transition: all .3s ease;
    -webkit-transform-origin: center
}

.close-btn span {
    top: 0;
    left: 10px;
    width: 2px;
    background-color: #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    transform-origin: center;
    z-index: 2
}

.close-btn span:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background-color: #3aafa9;
    transition: all .3s ease
}

.close-btn span.left {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 1
}

.close-btn span.left:after {
    transition-delay: .25s
}

.close-btn:hover span {
    -webkit-transform: scale(.9) rotate(-45deg);
    transform: scale(.9) rotate(-45deg)
}

.close-btn:hover span.left {
    -webkit-transform: scale(.9) rotate(45deg);
    transform: scale(.9) rotate(45deg)
}

.close-btn:hover span:after {
    height: 100%
}

.menu-burger {
    width: 20px;
    height: 16px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    margin-right: 5px
}

.menu-burger span {
    top: 8px
}

.menu-burger:after,
.menu-burger:before,
.menu-burger span {
    position: absolute;
    width: 100%;
    background-color: #fff;
    height: 2px
}

.menu-burger:after,
.menu-burger:before {
    content: '';
    bottom: -2px;
    left: 0;
    transition: top .2s ease, bottom .2s ease
}

.menu-burger:before {
    top: 0
}

.menu-burger.inverted:after,
.menu-burger.inverted:before,
.menu-burger.inverted span {
    background-color: #18252a
}

.menu-burger:hover:before {
    top: 2px
}

.menu-burger:hover:after {
    bottom: 0
}

[videogular],
videogular {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #000;
    display: block;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    top: 0
}

[videogular] button,
videogular button {
    cursor: pointer
}

[videogular].fullscreen,
videogular.fullscreen {
    position: fixed;
    left: 0;
    top: 0
}

[videogular] vg-media,
videogular vg-media {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    display: block;
    z-index: 0;
    visibility: hidden;
    transition: opacity .3s ease
}

.playing [videogular] vg-media,
.playing vg-controls,
.playing videogular vg-media {
    visibility: visible
}

.playing [videogular] vg-poster:after,
.playing videogular vg-poster:after {
    visibility: hidden
}

[videogular] vg-media video,
videogular vg-media video {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%
}

[videogular] .iconButton,
videogular .iconButton {
    color: #fff;
    font-family: videogular;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    background: none;
    padding: 6px;
    border: 0
}

[videogular] .iconButton:focus,
videogular .iconButton:focus {
    border: 1px solid #fff
}

[videogular] vg-poster,
videogular vg-poster {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    display: block;
    z-index: 1;
    top: 0
}

[videogular] vg-poster:after,
videogular vg-poster:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: url(/images/twitter.gif) 0 0 repeat;
    opacity: .6
}

[videogular] vg-poster img,
videogular vg-poster img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    position: absolute;
    overflow: hidden;
    z-index: 1
}

[videogular] vg-poster img.pause,
[videogular] vg-poster img.play,
videogular vg-poster img.play {
    display: none
}

[videogular] vg-poster img.stop,
videogular vg-poster img.stop {
    display: block
}

[videogular] vg-controls,
videogular vg-controls {
    width: 100%;
    height: 50px;
    display: block;
    position: absolute;
    z-index: 3;
    bottom: 0;
    visibility: hidden
}

[videogular] vg-controls .controls-container,
videogular vg-controls .controls-container {
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    display: table;
    zoom: 1
}

[videogular] vg-play-pause-button,
videogular vg-play-pause-button {
    display: table-cell;
    width: 50px;
    vertical-align: middle;
    text-align: center;
    cursor: pointer
}

[videogular] vg-time-display,
videogular vg-time-display {
    color: #fff;
    display: table-cell;
    font-family: Arial;
    font-size: 18px;
    width: 75px;
    vertical-align: middle;
    text-align: center;
    cursor: default
}

[videogular] .vgTimeDisplay,
videogular .vgTimeDisplay {
    display: table-cell;
    font-family: Arial;
    font-size: 18px;
    width: auto
}

[videogular] vg-scrub-bar,
videogular vg-scrub-bar {
    width: auto;
    display: table-cell;
    cursor: pointer;
    vertical-align: middle;
    position: relative
}

[videogular] vg-scrub-bar [role=slider],
videogular vg-scrub-bar [role=slider] {
    margin-top: 24px;
    margin-bottom: 24px;
    height: 2px;
    background-color: #000;
    position: relative
}

[videogular] vg-scrub-bar .container,
videogular vg-scrub-bar .container {
    position: absolute;
    width: 100%;
    height: 2px;
    top: 24px;
    padding-left: 0
}

[videogular] vg-scrub-bar :focus vg-scrub-bar-current-time,
videogular vg-scrub-bar :focus vg-scrub-bar-current-time {
    border-right: 6px groove #000
}

[videogular] vg-scrub-bar-buffer,
[videogular] vg-scrub-bar-current-time,
videogular vg-scrub-bar-buffer,
videogular vg-scrub-bar-current-time {
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 100%;
    display: block;
    cursor: pointer
}

[videogular] vg-scrub-bar-buffer,
videogular vg-scrub-bar-buffer {
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: .5
}

[videogular] vg-scrub-bar-cue-points,
videogular vg-scrub-bar-cue-points {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute
}

[videogular] vg-scrub-bar-cue-points .cue-point-timeline,
videogular vg-scrub-bar-cue-points .cue-point-timeline {
    color: #fff;
    padding-top: 3px
}

[videogular] vg-scrub-bar-cue-points .cue-point-timeline .cue-point,
videogular vg-scrub-bar-cue-points .cue-point-timeline .cue-point {
    position: absolute;
    height: 3px;
    background-color: #fff
}

[videogular] vg-scrub-bar-thumbnails,
videogular vg-scrub-bar-thumbnails {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    cursor: pointer;
    bottom: 24px;
    z-index: 1
}

[videogular] vg-scrub-bar-thumbnails .vg-thumbnails,
videogular vg-scrub-bar-thumbnails .vg-thumbnails {
    position: absolute;
    top: -20px;
    margin-top: -40px;
    width: 80px;
    height: 60px;
    overflow: hidden
}

[videogular] vg-scrub-bar-thumbnails .vg-thumbnails .image-thumbnail,
videogular vg-scrub-bar-thumbnails .vg-thumbnails .image-thumbnail {
    height: 60px;
    background-repeat: no-repeat
}

[videogular] vg-scrub-bar-thumbnails .background,
videogular vg-scrub-bar-thumbnails .background {
    width: 100%;
    height: 50px
}

[videogular] vg-playback-button,
[videogular] vg-volume,
videogular vg-playback-button,
videogular vg-volume {
    display: table-cell;
    width: 50px;
    vertical-align: middle;
    text-align: center;
    cursor: pointer
}

[videogular] vg-volume-bar,
videogular vg-volume-bar {
    width: 50px;
    height: 100px;
    top: -100px;
    margin-left: -25px;
    vertical-align: middle;
    text-align: center;
    position: absolute;
    cursor: pointer
}

[videogular] vg-fullscreen-button,
videogular vg-fullscreen-button {
    display: table-cell;
    width: 50px;
    vertical-align: middle;
    text-align: center;
    cursor: pointer
}

[videogular] vg-volume-bar .verticalVolumeBar,
videogular vg-volume-bar .verticalVolumeBar {
    width: 50px;
    height: 100px;
    background-color: #000;
    position: absolute
}

[videogular] vg-volume-bar .volumeBackground,
videogular vg-volume-bar .volumeBackground {
    width: 20px;
    height: 70px;
    left: 15px;
    top: 15px;
    background-color: #222;
    position: absolute
}

[videogular] vg-volume-bar .volumeValue,
videogular vg-volume-bar .volumeValue {
    width: 20px;
    height: 100%;
    background-color: #fff;
    position: absolute
}

[videogular] vg-volume-bar .volumeClickArea,
videogular vg-volume-bar .volumeClickArea {
    width: 20px;
    height: 100%;
    position: absolute
}

[videogular] vg-controls .hide-animation,
videogular vg-controls .hide-animation {
    -webkit-animation: e ease-out .5s;
    animation: e ease-out .5s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

@-webkit-keyframes e {
    0% {
        opacity: .5
    }
    to {
        opacity: 0
    }
}

@keyframes e {
    0% {
        opacity: .5
    }
    to {
        opacity: 0
    }
}

[videogular] vg-controls .show-animation,
videogular vg-controls .show-animation {
    -webkit-animation: f ease-out .5s;
    animation: f ease-out .5s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

@-webkit-keyframes f {
    0% {
        background-color: transparent
    }
    to {
        background-color: rgba(0, 0, 0, .5)
    }
}

@keyframes f {
    0% {
        background-color: transparent
    }
    to {
        background-color: rgba(0, 0, 0, .5)
    }
}

[videogular] vg-play-pause-button .play:before,
videogular vg-play-pause-button .play:before {
    content: "\e000"
}

[videogular] vg-play-pause-button .pause:before,
videogular vg-play-pause-button .pause:before {
    content: "\e001"
}

[videogular] vg-mute-button,
videogular vg-mute-button {
    width: 50px;
    display: block
}

[videogular] vg-mute-button .level3:before,
videogular vg-mute-button .level3:before {
    content: "\e002"
}

[videogular] vg-mute-button .level2:before,
videogular vg-mute-button .level2:before {
    content: "\e003"
}

[videogular] vg-mute-button .level1:before,
videogular vg-mute-button .level1:before {
    content: "\e004"
}

[videogular] vg-mute-button .level0:before,
videogular vg-mute-button .level0:before {
    content: "\e005"
}

[videogular] vg-mute-button .mute:before,
videogular vg-mute-button .mute:before {
    content: "\e006"
}

[videogular] vg-fullscreen-button .enter:before,
videogular vg-fullscreen-button .enter:before {
    content: "\e007"
}

[videogular] vg-fullscreen-button .exit:before,
videogular vg-fullscreen-button .exit:before {
    content: "\e008"
}

[videogular] vg-buffering,
videogular vg-buffering {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 4;
    top: 0
}

[videogular] vg-buffering .bufferingContainer,
videogular vg-buffering .bufferingContainer {
    width: 100%;
    position: absolute;
    cursor: pointer;
    top: 50%;
    margin-top: -50px;
    zoom: 1;
    filter: alpha(opacity=60);
    opacity: .6
}

[videogular] vg-buffering .loadingSpinner,
videogular vg-buffering .loadingSpinner {
    background-color: transparent;
    border: 5px solid #fff;
    opacity: .9;
    border-top: 5px solid transparent;
    border-left: 5px solid transparent;
    border-radius: 50px;
    box-shadow: 0 0 35px #fff;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    -moz-animation: g .5s infinite linear;
    -webkit-animation: g .5s infinite linear
}

[videogular] vg-buffering .loadingSpinner .stop,
videogular vg-buffering .loadingSpinner .stop {
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused
}

@-webkit-keyframes g {
    0% {
        -webkit-transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(1turn)
    }
}

[videogular] vg-ima-ads,
videogular vg-ima-ads {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
    top: 0;
    display: none
}

section.landing {
    height: 100vh
}

section.landing .svg-con {
    position: absolute;
    bottom: 0
}

section.landing .svg-con path.intro {
    stroke-dashoffset: 0;
    stroke-dasharray: 961px;
    -webkit-animation: j 2s ease .85s both;
    animation: j 2s ease .85s both
}

section.landing .svg-con svg .arrow {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
    opacity: 0;
    -webkit-animation: k .5s ease 1.5s both;
    animation: k .5s ease 1.5s both
}

section.landing .txt {
    bottom: 21%;
    left: 35.5%;
    opacity: 1
}

section.landing .txt h1 {
    -webkit-animation: h 1s ease .85s both;
    animation: h 1s ease .85s both
}

section.landing .txt h1,
section.landing .txt p {
    -webkit-transform: translateY(0);
    transform: translateY(0)
}

section.landing .txt p {
    font-size: 2.5vw;
    line-height: 2.7vw;
    -webkit-animation: i 1.7s ease .95s both;
    animation: i 1.7s ease .95s both
}

@-webkit-keyframes h {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px)
    }
}

@keyframes h {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px)
    }
}

@-webkit-keyframes i {
    0% {
        opacity: 0;
        -webkit-transform: translateY(10px);
        transform: translateY(10px)
    }
}

@keyframes i {
    0% {
        opacity: 0;
        -webkit-transform: translateY(10px);
        transform: translateY(10px)
    }
}

@-webkit-keyframes j {
    to {
        stroke-dashoffset: 940px
    }
}

@keyframes j {
    to {
        stroke-dashoffset: 940px
    }
}

@-webkit-keyframes k {
    to {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1
    }
}

@keyframes k {
    to {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1
    }
}

#product,
section.products {
    height: calc(300vw + 500px)
}

section.products {
    z-index: 2;
    background-color: #fff;
    position: fixed
}

section.products .mobile-only {
    display: none;
    padding: 30px
}

section.products #products-container {
    position: fixed;
    z-index: 2;
    top: 0;
    display: block;
    background-color: #fff;
    -webkit-perspective: 1000;
    perspective: 1000;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    will-change: transform3d
}

section.products #products-container.completed svg.anim {
    transition: all .5s ease;
    opacity: 0
}

section.products #products-container.completed .txt {
    opacity: 0
}

section.products #products-container.completed svg#product_result {
    transition: all .5s ease;
    opacity: 1
}

section.products #products-container.completed svg#product-arrow {
    transition: opacity .3s ease .2s, bottom .5s ease .2s;
    opacity: 1;
    bottom: 20%
}

section.products .title {
    position: absolute;
    top: 0;
    left: 6.5vw;
    width: 36vw;
    height: 100vh;
    z-index: 3;
    opacity: 0;
    transition: all .35s ease 0s
}

section.products .title .txt {
    max-width: 400px;
    opacity: 1;
    top: 50%;
    width: 100%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

section.products .title .txt p {
    font-size: 20px;
    line-height: 28px
}

section.products .txt {
    top: 0;
    left: 0;
    max-width: 260px
}

section.products .txt h3,
section.products .txt p {
    font-size: 14px;
    line-height: 18px
}

section.products .txt h3 {
    font-weight: 700
}

section.products .txt.old {
    max-width: 320px;
    color: #27363b;
    top: 40%
}

section.products .txt.old.old-0 {
    left: 18.1%
}

section.products .txt.old.old-1 {
    left: 27.5%
}

section.products .txt.old.old-2 {
    left: 48%
}

section.products .txt.old.old-3 {
    left: 68.7%
}

section.products .txt.old.old-4 {
    left: 85.8%
}

section.products .txt.new {
    color: #3aafa9;
    top: 63.5%
}

section.products .txt.new.new-0 {
    left: 18.1%
}

section.products .txt.new.new-1 {
    left: 27.5%
}

section.products .txt.new.new-2 {
    left: 38%
}

section.products .txt.new.new-3 {
    left: 48%
}

section.products .txt.new.new-4 {
    left: 58.65%
}

section.products .counters {
    position: absolute;
    top: 0;
    left: 67.2vw;
    width: 32.8vw;
    min-width: 448px;
    height: 100%;
    background-color: #fff;
    z-index: 3
}

section.products .counters svg.check {
    position: absolute;
    width: 76px;
    height: 76px;
    left: -100px;
    top: -23px
}

section.products .counters svg.check path {
    fill: none
}

section.products .counters svg#product-arrow {
    position: absolute;
    bottom: 25%;
    left: -9px;
    width: 26px;
    height: 42px;
    opacity: 0
}

section.products .counters h3 {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    line-height: 14px;
    padding-right: 20px
}

section.products .counters h3 span {
    font-size: 20px
}

section.products .counters .counter {
    position: absolute;
    padding-left: 25px;
    white-space: nowrap
}

section.products .counters .counter .label {
    position: absolute;
    top: -18px;
    font-size: 14px;
    opacity: 0;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    transition: all .5s ease
}

section.products .counters .counter--a {
    top: 35.5%
}

section.products .counters .counter--b {
    top: 58.5%;
    color: #3aafa9
}

section.products .counters .counter--b svg path {
    stroke: #3aafa9
}

section.products .counters .counter:before {
    content: '';
    position: absolute;
    width: .6vw;
    height: 10vw;
    background-color: #18252a;
    top: -3.2vw;
    left: 0;
    transition: -webkit-transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease, -webkit-transform .3s ease;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: center;
    transform-origin: center
}

section.products .counters .counter.blink .number {
    -webkit-animation: l .3s ease-in forwards;
    animation: l .3s ease-in forwards;
    -webkit-animation-iteration-count: 3;
    animation-iteration-count: 3
}

section.products .counters .counter--b:before {
    background-color: #3aafa9
}

section.products .counters.active .counter:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1)
}

section.products .counters.show-labels .counter .label {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0)
}

section.products #svg-container {
    will-change: transform3d;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    position: relative
}

section.products #svg-container svg.anim {
    height: 63vw;
    width: 300vw
}

section.products #svg-container svg.anim.svg-icon {
    position: absolute;
    top: 0;
    left: 0;
    stroke-width: 6px
}

section.products #svg-container svg.anim.svg-icon .icon {
    fill: none;
    stroke: #30393d
}

section.products #svg-container svg.anim.svg-icon.new .icon {
    stroke: #3aafa9
}

section.products svg#product_result {
    position: absolute;
    top: 0;
    opacity: 0;
    left: 0
}

#product.inview section.products .title {
    opacity: 1;
    transition: all 1s ease .5s
}

@-webkit-keyframes l {
    40% {
        opacity: .1
    }
    to {
        opacity: 1
    }
}

@keyframes l {
    40% {
        opacity: .1
    }
    to {
        opacity: 1
    }
}

section.outcome {
    z-index: 5
}

section.outcome .txt {
    top: 63%;
    left: 5.6%;
    width: 32%
}

section.quality {
    z-index: 4
}

section.quality .txt {
    top: 52%;
    left: 24%;
    width: 25%
}

section.profit {
    z-index: 4
}

section.profit .txt {
    top: 52%;
    left: 46%;
    width: 43%
}

section.features {
    z-index: 2;
    height: 400vw;
    /* height: 100vw; */
    position: relative
}

section.features,
section.features #features-container {
    background-color: #557c83
}

section.features #features-container .featureImgContainer {
    transition: -webkit-transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease, -webkit-transform .3s ease
}

section.features #features-container svg#product-computer {
    position: absolute;
    height: 110vh;
    width: auto;
    max-width: 110vw;
    left: 0;
    top: -5vh
}

section.features #features-container .slides {
    position: absolute;
    max-width: 450px;
    width: 26%;
    left: 68.5%;
    top: 33%
}

section.features #features-container .slides span {
    font-size: 1.4vw
}

section.features #features-container .slides .slide {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: opacity .4s ease
}

section.features #features-container .slides .slide h3 {
    font-size: 1.7vw;
    line-height: 1.4vw;
    margin: 0 0 1vw
}

section.features #features-container .slides .slide p {
    font-size: 1.6vw;
    line-height: 2vw
}

section.features #features-container .slides .slide.active {
    opacity: 1
}

section.process {
    z-index: 2;
    height: 400vw;
    /* height: 100vw; */
    position: relative
}

section.process #process-container {
    width: 100%
}

section.process #process-container .svg-container {
    position: absolute;
    top: 40%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

section.process #process-container svg .word {
    fill: #3aafa9;
    fill-opacity: 0;
    transition: fill-opacity .4s ease
}

section.process #process-container svg #process-line {
    stroke: #3aafa9
}

section.process #process-container svg.complete .word {
    fill-opacity: 1;
    transition-duration: .8s
}

section.process #process-container svg.svg-word {
    top: 0;
    position: absolute
}

section.process #process-container .intro-txt {
    position: absolute;
    max-width: 450px;
    width: 20vw;
    height: 25vw;
    left: 6.5%;
    top: 42%;
    color: #000
}

section.process #process-container .intro-txt p {
    font-size: 1.3vw;
    line-height: 1.8vw
}

section.process #process-container .slides {
    position: absolute;
    max-width: 450px;
    width: 30vw;
    height: 25vw;
    left: 50vw;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 43%
}

section.process #process-container .slides span {
    font-size: 1.3vw;
    line-height: 1.8vw
}

section.process #process-container .slides .slide {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: opacity .4s ease
}

section.process #process-container .slides .slide h3 {
    font-size: 1.7vw;
    line-height: 1.4vw;
    margin: .6vw 0 1.2vw
}

section.process #process-container .slides .slide p {
    font-size: 1.3vw;
    line-height: 1.8vw
}

section.process #process-container .slides .slide.active {
    opacity: 1
}

section.clients {
    z-index: 2;
    height: 300vw;
    position: relative
}

section.clients:after {
    content: '';
    width: 100%;
    height: 50%;
    bottom: 0;
    left: 0;
    display: block;
    position: absolute;
    background-color: #a2d5ac
}

section.clients .video {
    width: 100vw;
    height: 62.5vw
}

section.clients .fixed-container {
    height: 100vh
}

section.clients .fixed-container svg#play-icon {
    position: absolute;
    top: 0;
    cursor: pointer
}

section.clients .fixed-container .buttons {
    position: absolute;
    top: 65%;
    left: 50.5%;
    width: 100%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    opacity: 0;
    pointer-events: none;
    transition: all .3s ease;
    z-index: 7
}

section.clients .fixed-container .buttons a {
    margin: 0 10px
}

section.clients .fixed-container.buttons-visible .buttons {
    opacity: 1;
    pointer-events: auto
}

section.clients .fixed-container .txt {
    position: absolute;
    top: 60%;
    left: 50.5%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    opacity: 0;
    pointer-events: none;
    transition: all .3s ease;
    z-index: 7
}

section.clients .fixed-container .txt p {
    font-size: 32px;
    font-weight: 700;
    font-family: canada-type-gibson, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.5px
}

section.clients .fixed-container.txt-visible .txt {
    opacity: 1;
    pointer-events: auto
}

section.clients .svg-container {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    opacity: 1;
    transition: opacity .3s ease;
    overflow: hidden
}

section.clients .svg-container .title path {
    fill: #fff
}

section.clients.playing .svg-container {
    opacity: 0;
    pointer-events: none
}

section.clients.playing #play-icon {
    pointer-events: none
}

section.signup {
    min-height: 100vh;
    position: relative
}

section.signup .txt {
    bottom: 26.5%;
    left: 53%;
    opacity: 1;
    max-width: 44%
}

section.signup .txt h1 {
    display: none
}

section.signup .txt button {
    width: 10vw;
    float: right;
    opacity: 0;
    cursor: pointer
}

section.signup .txt input {
    max-width: 480px
}

section.signup .svg-container {
    position: relative
}

section.signup svg g.btn {
    cursor: pointer;
    opacity: .5;
    transition: opacity .5s ease
}

section.signup svg g.btn path {
    transition: fill .5s ease;
    transition-delay: 0
}

section.signup svg g.btn.active {
    opacity: 1
}

section.signup svg g.btn.active path {
    fill: #18252a
}

section.signup svg g.btn.active path:nth-child(1) {
    transition-delay: 0.1s
}

section.signup svg g.btn.active path:nth-child(2) {
    transition-delay: 0.2s
}

section.signup svg g.btn.active path:nth-child(3) {
    transition-delay: 0.3s
}

section.signup svg g.btn.active path:nth-child(4) {
    transition-delay: 0.4s
}

section.signup svg g.btn.active path:nth-child(5) {
    transition-delay: 0.5s
}

section.signup svg g.btn.active path:nth-child(6) {
    transition-delay: 0.6s
}

section.signup svg g.btn.active path:nth-child(7) {
    transition-delay: 0.7s
}

section.signup svg g.btn.active path:nth-child(8) {
    transition-delay: 0.8s
}

section.signup svg g.btn.active path:nth-child(9) {
    transition-delay: 0.9s
}

section.signup svg g.btn.active path:nth-child(10) {
    transition-delay: 1s
}

section.signup .campaign h2 {
    font-size: 4vw;
    line-height: 3.5vw;
    margin-top: -30%
}

section.contact {
    height: 100vh;
    position: relative
}

section.contact .one-half {
    background-size: cover;
    background-position: bottom
}

section.contact .one-half svg {
    margin: -5% auto 20px;
    width: 64px;
    height: 60px;
    cursor: pointer
}

section.contact .one-half h1 {
    padding-bottom: 0
}

section.contact .one-half p {
    position: absolute;
    bottom: 10%;
    width: 100%
}

.header.team {
    z-index: 2;
    position: fixed;
    height: 70px;
    width: 100%;
    padding: 20px 0 0 30px
}

.header.team svg.logo {
    width: 100px;
    height: 70px;
    cursor: pointer
}

.header.team svg.logo path {
    fill: #18252a
}

article.team {
    position: relative;
    z-index: 1;
    background-color: #fff;
    padding-top: 110px
}

article.team .inner {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 60px;
    width: 100%
}

article.team .profiles {
    position: relative;
    margin: 0 -20px;
    display: block;
    padding-bottom: 60px;
    width: 100%
}

article.team .profile-item {
    padding: 20px 20px 40px
}

article.team .profile-item img {
    margin-bottom: 15px
}

article.team .profile-item p {
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0
}

article.team .profile-item h2 {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif
}

article.team .profile-item h3 {
    padding-bottom: 13px
}

article.team .profile-item .social {
    padding-top: 10px
}

.noScroll {
    overflow: hidden;
}

@media (max-width: 740px) {
    .fade .logo-fade {
        -webkit-transform: translate(-50%, -60%);
        transform: translate(-50%, -60%)
    }
    .h1,
    h1 {
        font-size: 38px;
        line-height: 32px
    }
    p {
        font-size: 14px;
        line-height: 20px
    }
    input {
        font-size: 12px;
        line-height: 18px;
        padding: 10px 18px
    }
    header .nav--secondary a:first-child {
        display: none
    }
    header .menu nav {
        top: 45%
    }
    header .menu nav .btn {
        font-weight: 400;
        font-size: 14px;
        margin-top: 10px;
        text-transform: none
    }
    header .menu nav a {
        font-size: 15px;
        margin: 5px 0
    }
    header .menu nav {
        width: 100%
    }
    svg line,
    svg path {
        stroke-width: 20px
    }
    .mobile-hidden {
        display: none
    }
    .menu-burger {
        margin-right: 0
    }
    section.landing {
        height: 95vh
    }
    section.landing .svg-con {
        top: 0;
        width: 100%;
        height: 100%
    }
    section.landing .txt {
        top: 50%;
        left: 50%;
        opacity: 1;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: auto;
        min-width: 220px
    }
    section.landing .txt p {
        font-size: 25px;
        line-height: 27px
    }
    section.landing svg {
        display: none
    }
    section.products {
        height: auto;
        padding-bottom: 30px
    }
    section.products .mobile-only {
        display: block
    }
    section.products #product_result,
    section.products #svg-container,
    section.products .counters {
        display: none
    }
    section.products #products-container {
        display: none;
        -webkit-transform: none!important;
        transform: none!important
    }
    section.products .counters {
        top: 50%
    }
    section.outcome {
        height: 93.75vw;
        padding-bottom: 60px
    }
    section.outcome .txt {
        top: 47%;
        width: 47%
    }
    section.quality {
        height: 103.125vw;
        max-height: 340px
    }
    section.quality .txt {
        top: auto;
        width: 55%;
        bottom: 14%
    }
    section.quality #qualtyClipRectTop {
        width: 930px
    }
    section.profit {
        height: 125vw
    }
    section.profit .txt {
        top: 30%;
        width: 50%
    }
    section.features #features-container .svg-container {
        padding-top: 15%
    }
    section.features #features-container svg#product-computer {
        position: absolute;
        height: 50vh;
        left: 66.5%;
        top: 10%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%)
    }
    section.features #features-container svg#product-computer path {
        stroke-width: 10px
    }
    section.features #features-container svg circle {
        r: 20
    }
    section.features #features-container .slides {
        text-align: center;
        position: absolute;
        max-width: 80%;
        width: 100%;
        left: 50%;
        top: 52%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%)
    }
    section.features #features-container .slides span {
        font-size: 14px
    }
    section.features #features-container .slides .slide h3 {
        font-size: 20px;
        line-height: 24px;
        margin: 0 0 1vw
    }
    section.features #features-container .slides .slide p {
        font-size: 16px;
        line-height: 20px
    }
    section.process #process-container .intro-txt {
        display: none
    }
    section.process #process-container .svg-container {
        top: 30%
    }
    section.process #process-container .slides {
        text-align: center;
        position: absolute;
        max-width: 80%;
        width: 100%;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%);
        transform: translate(-50%)
    }
    section.process #process-container .slides span {
        font-size: 20px;
        font-weight: 700;
        color: #3aafa9
    }
    section.process #process-container .slides .slide {
        top: 150%
    }
    section.process #process-container .slides .slide h3 {
        font-size: 20px;
        line-height: 24px;
        margin: 0 0 1vw
    }
    section.process #process-container .slides .slide p {
        font-size: 16px;
        line-height: 20px
    }
    section.clients {
        height: auto
    }
    section.clients .video {
        min-height: 240px;
        height: 42vh
    }
    section.clients .fixed-container {
        position: relative;
        height: auto
    }
    section.clients .svg-route {
        display: none
    }
    section.clients .svg-container {
        top: -4%;
        width: 100%
    }
    section.clients #play-icon {
        top: -22px;
        -webkit-transform: scale(5);
        transform: scale(5)
    }
    section.clients #play-icon path {
        stroke-width: 6
    }
    section.signup {
        padding-bottom: 20px;
        min-height: 0
    }
    section.signup .txt {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        padding: 30px;
        max-width: 100%;
        margin-top: -20px
    }
    section.signup .txt h1 {
        display: block;
        margin: 30px 0 20px
    }
    section.signup .txt button {
        width: 100%;
        float: none;
        opacity: 1;
        cursor: pointer
    }
    section.signup svg {
        display: none
    }
    section.signup .campaign h2 {
        font-size: 30px;
        line-height: 28px;
        margin-top: 40px
    }
    section.contact .one-half {
        width: 100%;
        height: 50vh
    }
    section.contact .one-half svg {
        margin: -5% auto 20px;
        width: 34px;
        height: 30px
    }
    section.contact .one-half .centered {
        position: relative;
        -webkit-transform: none;
        transform: none;
        top: 0;
        left: 0
    }
    section.contact .one-half p {
        padding: 0 20px;
        word-break: keep-all
    }
    article.team .one-third {
        width: 100%
    }
    article.team .inner {
        padding: 30px
    }
}

@media all and (max-width: 740px) and (orientation:landscape) {
    body {
        height: 100vh;
        overflow: hidden
    }
    body .rotate-screen {
        display: block
    }
}

@media (-ms-high-contrast:none),
screen and (-ms-high-contrast:active) {
    [videogular] vg-volume-bar,
    videogular vg-volume-bar {
        zoom: 1;
        filter: alpha(opacity=50);
        opacity: .5
    }
}

@media (max-width: 1024px) {
    section.products .counters {
        left: calc(100vw - 448px)
    }
}